services:
  django:
    build:
      context: ./tournament_service
      dockerfile: Dockerfile
    container_name: tournament_service_backend
    restart: no
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      postgres:
        condition: service_healthy
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8000/health/ || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 3
    volumes:
      - ./tournament_service:/app

  postgres:
    image: postgres:17
    container_name: postgres_db
    restart: always
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 5s
      timeout: 5s
      retries: 5


volumes:
  postgres_data:
